USE [master]
GO
/****** Object:  Database [SiparisYonetimDB]    Script Date: 11.03.2023 11:43:46 ******/
CREATE DATABASE [SiparisYonetimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiparisYonetimDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SiparisYonetimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiparisYonetimDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SiparisYonetimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiparisYonetimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiparisYonetimDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11.03.2023 11:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[firmalar]    Script Date: 11.03.2023 11:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[firmalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAd] [nvarchar](100) NOT NULL,
	[OnayDurum] [bit] NOT NULL,
	[SiparisBaslangıcSaat] [time](7) NOT NULL,
	[SiparisBitisSaat] [time](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_firmalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisler]    Script Date: 11.03.2023 11:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirmaId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[MusteriAd] [nvarchar](255) NOT NULL,
	[SiparisTarih] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_siparisler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 11.03.2023 11:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirmaId] [int] NOT NULL,
	[UrunAd] [nvarchar](255) NOT NULL,
	[Stok] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_siparisler_FirmaId]    Script Date: 11.03.2023 11:43:46 ******/
CREATE NONCLUSTERED INDEX [IX_siparisler_FirmaId] ON [dbo].[siparisler]
(
	[FirmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_siparisler_UrunId]    Script Date: 11.03.2023 11:43:46 ******/
CREATE NONCLUSTERED INDEX [IX_siparisler_UrunId] ON [dbo].[siparisler]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_urunler_FirmaId]    Script Date: 11.03.2023 11:43:46 ******/
CREATE NONCLUSTERED INDEX [IX_urunler_FirmaId] ON [dbo].[urunler]
(
	[FirmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[firmalar] ADD  DEFAULT (CONVERT([bit],(0))) FOR [OnayDurum]
GO
ALTER TABLE [dbo].[siparisler] ADD  DEFAULT ('2023-03-10T22:54:32.0214150+03:00') FOR [SiparisTarih]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_firmalar_FirmaId] FOREIGN KEY([FirmaId])
REFERENCES [dbo].[firmalar] ([Id])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_firmalar_FirmaId]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_urunler_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[urunler] ([Id])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_urunler_UrunId]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_firmalar_FirmaId] FOREIGN KEY([FirmaId])
REFERENCES [dbo].[firmalar] ([Id])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_firmalar_FirmaId]
GO
USE [master]
GO
